@using System.Data;
@using System.Data.Linq;
@using System.Linq;

@using DotNetNuke.Web.Razor;

@using DNNGamification;
@using DNNGamification.Components.Entities;
@using DNNGamification.Components;

@inherits LeaderboardWebPage

<tr class="dnnGridAltItem">
	<td>@Model.Rank</td>
	<td><img src="@Model.ProfilePhotoUrl" class="gmfPhotoThumbnail"></td>
	<td style="text-align: center;">@Model.DisplayName</td>
	<td>@Model.ActivityPoints</td>
	<td>
		@foreach (var badge in Model.Badges.Where(b => !b.Expired).Take(3))
		{
			<div class="gmfBadge">
				<img class="gmfBadgeThumbnail" src="@badge.ImageFileUrl" title="@badge.Name" />
			</div>
		}
	</td>
</tr>